extends ../layouts/application

block content
  
  .container
    h3.title
      i.icon-bar-chart.icon-2x
      = title
    .row
      #activity-line.col-md-10
      #activity-box.col-md-2
      
  #linetip.linetip
  
  script(src='/socket.io/socket.io.js')
  != js('d3.ranking')