body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }
