extends ../layouts/application

block content
  .container
    
    //- h2.text-title-big Tweet Report Stock/Finacial
    h3.keyword Big Data Social Media Report
    
    .row
      .col-md-6
        span.text-success.text-title exposure
        i.icon-exclamation-sign
        hr.module-separator
        .module-container
          div#exposure-text 
          p.text-muted exposure
      .col-md-6
        span.text-success.text-title all top hashtags
        i.icon-exclamation-sign
        hr.module-separator
        .module-container
          //- p.impressions-count.text-number 3,181,2372 
          //-   small impressions
          #exposure-chart
        
    //- .row
    //-   .col-md-12.activity
    //-     span.text-success.text-title activity
    //-     i.icon-exclamation-sign
    //-     hr.module-separator
    //-     .col-md-7
    //-       span.col-md-3.activity-tweets.text-number
    //-         | 927
    //-         small  tweets
    //-       span.col-md-3.activity-contributors.text-number
    //-         | 358
    //-         small  contributors
    //-       span.col-md-2.activity-days.text-number
    //-         | 8
    //-         small  days
    //-       #activity-line
    //-         #linetip.linetip
    //-     .col-md-5
    //-       #activity-label
          
    .row
      .col-md-4.tweets
        span.text-success.text-title top contributors
        i.icon-exclamation-sign
        hr.module-separator
        .module-container
          #top-users-chart
      .col-md-5.tweets
        span.text-success.text-title top tweets
        i.icon-exclamation-sign
        hr.module-separator
        .module-container
          #top-tweets-chart
      .col-md-3.tweets
        span.text-success.text-title top locations
        i.icon-exclamation-sign
        hr.module-separator
        .module-container
          #locations-label
        span.text-success.text-title top locations [pie]
        i.icon-exclamation-sign
        hr.module-separator
        .module-container
          #locations-pie
  
  != js('d3.trend')