svg { font: 10px sans-serif; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px; }

.domain { 
  fill: none; 
  stroke: black; 
  stroke-width: 0.5px; }

.axis {
    line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges; } }

.legend-box {
  opacity: 0.5; }

.linetip {
  opacity: 0.8;
  position: absolute;
  text-align:center;
  font-weight:bold;
  height: 20px;
  padding: 5px; 
  margin: 5px; }