@import 'theme';
@import 'ranking';

/* content style */
body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  i[class^="icon-"], span[class^="icon-"] { margin-right: 10px; }
  
  .navbar-inverse{
      background-color: #FFFFFF;
      border-color: transparent; }
      
  .container{
    width: 1000px;
    .search-form {
      padding-top: 200px;
      .btn {
        background: #2f9fe6;
        color: #ffffff;
        &:hover{
          background: #1885ca; } }
      margin-bottom: 4em;
      
      /* form */
      .form-bloat{
        input, button {
          height: 80px;
          line-height: 80px; }
        input {
          .box-shadow(0 0 5px, 30%);
          font-size: 18px;
          font-style: italic; }
        button {
          padding-bottom: 0;
          padding-top: 0;
          font-size: 24px; } } 
          
      .form-stretch .form-group{
        padding-right: 0;
        padding-left: 0;
        input, button, .btn{
          .box-sizing }
        button, .btn{
          margin-left: 1px;
          margin-right: 0; } } } } }
