extends layouts/application

block content
  
  .container
    div(class="row search-form text-center animated fadeInDown")
      form(class="form-bloat form-stretch form-inline" action="/" method="post" role="form")
        .col-md-2
        .form-group.col-md-6.text-right
          input(type="text" placeholder="keyword" class="form-control placeholder")
        .form-group.col-md-2.text-left
          button.btn(type="button") Search!
        .col-md-2
      br
    p.muted.text-center Enter keyword to search for tweet trends
    p.text-center
      i.icon-twitter.icon-2x
      i.icon-facebook.icon-2x
      i.icon-weibo.icon-2x
      i.icon-renren.icon-2x