doctype 5
html
  head
    title= title
    meta(content='initial-scale = 1, user-scalable = no', name='viewport')
    
    // Bootstrap
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/animate.min.css")
    != css('style')
    
    //- stitch to use server model in client side
    script(src='/application.js', type='text/javascript', charset='utf-8')
    != js('application')
    
  body
  
    div(class="navbar navbar-inverse animated fadeIn")
      .container
        .navbar-header
          button.navbar-toggle(type="button" "data-goggle"="collapse", "data-target"=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            i.icon-h-sign
            span Heyook Data Analysis
        .navbar-collapse.collapse
          ul.nav.navbar-nav.pull-right
            li
              a(href="/trends/1") Trends
            li
              a(href="/rankings") Rankings
                
    block content
    
