doctype 5
html
  head
    title= title
    meta(content='initial-scale = 1, user-scalable = no', name='viewport')
    
    // Bootstrap
    != css('vendor/bootstrap.min')
    != css('vendor/bootstrap-theme.min')
    != css('vendor/font-awesome.min')
    != css('vendor/animate.min')
    != css('style')
    
    script(src='/application.js', type='text/javascript', charset='utf-8')
    != js('application')
    
  body
  
    div(class="navbar navbar-inverse animated fadeIn")
      .container
        .navbar-header
          button.navbar-toggle(type="button" "data-goggle"="collapse", "data-target"=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            i.icon-h-sign
            span Heyook Data Analysis
        .navbar-collapse.collapse
          ul.nav.navbar-nav.pull-right
            li
              a(href="/") Trends
            li
              a(href="/rankings") Rankings
                
    block content
    
